/* 查询条件 */
.queryBar {
    position: relative;
    background: #fff;

    &.withCollapse {
        padding-right: 55px;
    }

    .queryBarCollapsed {
        position: absolute;
        right: 0;
        top: 0;
        padding: 3px 8px 0 0;
        font-size: 12px;

        i {
            margin-left: 3px;
        }
    }
   :global {
       .ant-form-item {
          margin-bottom: 0;
        }
   }
}
