.statistics {
    display: flex;
    justify-content: space-around;
    & > * {
        margin-right: 2px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

:global {
    .ant-list-vertical .ant-list-item-action {
        text-align: center;
    }
}

.cardItemContent {
    display: flex;
    height: 20px;
    margin-top: 16px;
    margin-bottom: -4px;
    line-height: 20px;
    & > span {
      flex: 1;
      font-size: 12px;
    }
    .avatarList {
      flex: 0 1 auto;
    }
  }
// :global {
//     .ant-carousel .slick-slide {
//         text-align: center;
//         height: 160px;
//         line-height: 160px;
//         // background: #364d79;
//         overflow: hidden;
//       }
//       .ant-carousel .slick-slide h3 {
//         color: #fff;
//       }
// }