.scroll {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}

span {
    font-weight: bold;
}

// 聊天样式

.chatmain {
    position: relative;
    overflow: hidden;
    background-color: #eff3f6;
    height:100%;
}